<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>background</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <script src="https://kit.fontawesome.com/04f3cc2a93.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="home-main">
        <h1 id="name">Abhijeet Kumar</h1>
        <p id="about">Student, Developer, Loves Anime</p>
        <a href="/projects" id="projects_button">View Projects</a>
        <div class="profiles">
            <a href="https://github.com/abhijeet1584" target="_blank"><i class="fab fa-github-alt profile"></i></a>
            <a href="https://www.instagram.com/_i_m_the_rocker/" target="_blank"><i class="fab fa-instagram profile"></i></a>
            <a href="https://www.reddit.com/user/sniper_pika/" target="_blank"><i class="fab fa-reddit-alien profile"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100023808222530" target="_blank"><i class="fab fa-facebook profile"></i></a>
        </div>
    </div>
</body>

</html>